<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    @RenderSection("Scripts", false)
    @*@RenderSection("scripts")*@
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
    <link rel="stylesheet" type="text/css" href="~/Content/NavBar.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Map.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Footer.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-md bg-white sticky-top shadow-lg">
            <a href="@Url.Action("Index","Home")"><img class="navbar-brand d-block mr-3" src="~/Content/img/axa_logo_3.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Create","Sinisters")">Add sinister<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Search","Sinisters")">Search sinister</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Client</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Site</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="https://codepen.io">My account</a>
                        <a class="dropdown-toggle " href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">My informations</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Administration</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    @RenderBody()
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
    @Styles.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/SelectPicker.js"></script>

    @*<script src="~/Scripts/SelectPicker.js"></script>*@
    @*<script src="~/Scripts/bootstrap-select.min.js"></script>*@
</body>
@Html.Partial("_FooterPartial")
</html>

<script>
    $(document).ready(function () {
        // Transition effect for navbar 
        $(window).scroll(function () {
            // checks if window is scrolled more than 500px, adds/removes solid class
            if ($(this).scrollTop() > 100) {
                $('.navbar').addClass('solid');
            } else {
                $('.navbar').removeClass('solid');
            }
        });
    });
</script>
