@model SinisterWebApp.Models.Sinisters

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<!--populate the site list and sinister type-->
<script language="javascript" type="text/javascript">
                function GetSites(_clientId) {
                    var procemessage = "<option value ='0'> No site selected...</option>";
                    $("#sid").html(procemessage).show();
                    var url = "@Url.Action("GetSiteByClientId", "Sinisters")";

                    $.ajax({
                        url: url,
                        data: { clientId: _clientId },
                        cache: false,
                        type: "POST",
                        success: function (data) {
                            var markup = "<option value='0'> Select a site</option>";
                            for (var x = 0; x < data.length; x++) {
                                markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                            }
                            $("#sid").html(markup).show();
                        },
                        error: function (response) {
                            alert("error : " + reponse);
                        }
                    });
                }

                    function GetSinisterTypes(_lobid) {
                        var procemessage = "<option value ='0'> No type selected...</option>";
                        $("#stid").html(procemessage).show();
                        var url = "@Url.Action("GetSinisterTypeByLobID", "Sinisters")";

                        $.ajax({
                            url: url,
                            data: { lobid: _lobid },
                            cache: false,
                            type: "POST",
                            success: function (data) {
                                var markup = "<option value='0'> Select a type</option>";
                                for (var x = 0; x < data.length; x++) {
                                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                                }
                                $("#stid").html(markup).show();
                            },
                            error: function (response) {
                                alert("error : " + reponse);
                            }
                        });
                    }

                    function GetCountries(_siteid) {
                        //var procemessage = "<option value=" + data[0].Value + ">" + data[0].Text + "</option>";
                        //$("#cid").html(procemessage).show();
                        var url = "@Url.Action("GetCountriesBySiteId", "Sinisters")";
                        $.ajax({
                            url: url,
                            data: { siteid: _siteid },
                            cache: false,
                            type: "POST",
                            success: function (data) {
                                //var markup = "<option value='0'> Select a country</option>";
                                var markup = "";
                                for (var x = 0; x < data.length; x++) {
                                  var  markup = "<option value=" + data[0].Value + ">" + data[0].Text + "</option>";
                                }
                                $("#cid").html(markup).show();
                            },
                            error: function (response) {
                                alert("error : " + reponse);
                            }
                        });
                    }



                        function GetKeywords(_sinistertypeid) {
                            var url = "@Url.Action("GetKeywordList", "Sinisters")";
                            $.ajax({
                                url: url,
                                data: { sinisterTypeid: _sinistertypeid },
                                cache: false,
                                type: "POST",
                                success: function (data) {
                                    var items = "";
                                    for (var x = 0; x < data.length; x++) {
                                        items += "<input name = 'CheckboxKeyword' type = checkbox value='"+ data[x].Value + "'/>" + "&nbsp" + data[x].Text + "</br>"
                                    }

                                    $("#checkboxList").html(items).show();
                                },
                                error: function (response) {
                                    alert("error : " + reponse);
                                }
                            });
                        }
</script>


<!--JUmbotron-->
<div class="jumbotron backgroundHome">
    <h1 class="otherTitle text-center">Declare a sinister</h1>
</div>

<div class="container pt-3 pb-3 col-lg-12 col-md-12 col-12">
    <h4 class=" pt-2 subTitle">New sinister</h4>
    <hr class="hrColor" />
    <div class="bg-light align-content-center col-lg-12 col-md-12 col-12 shadow">

        @using (Html.BeginForm("Create","Sinisters", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal pt-3">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Clients.Name, "Client", htmlAttributes: new { @class = "control-label col-12" })
                    <div class="col-12">
                        @Html.DropDownListFor(model => model.Clientid, new SelectList(Model.ListClient, "Clientid", "Name"), "Select a client", new { id = "ddlc", style = "width:100%;", onChange = "javascript: GetSites(this.value);", @class = "col-12 form-control"})
                        @*@Html.ValidationMessageFor(model => model.ListClient, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SiteId, "Site", htmlAttributes: new { @class = "control-label col-12" })
                    <div class="col-12">
                        <select id="sid" name="SiteId" onclick="javascript: GetCountries(this.value);" class="control-label col-12 form-control"></select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ListCountries, "Country", htmlAttributes: new { @class = "control-label col-12" })
                    <div class="col-12">
                        <select id="cid" name="CountryId" style="width : 100%" contenteditable="false" class="control-label col-12 form-control"></select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LoBId, "Lob", htmlAttributes: new { @class = "control-label col-12" })
                    <div class="col-12">
                        @Html.DropDownListFor(model => model.LoBId, new SelectList(Model.ListLob, "LobId", "Name"), "Select a lob", new { id = "ddlc", style = "width:100%;", onChange = "javascript: GetSinisterTypes(this.value);", @class = "col-12 form-control", name ="LobId" })
                        @*@Html.ValidationMessageFor(model => model.LoBId, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SinisterTypeId, "Sinister type", htmlAttributes: new { @class = "control-label col-12" })
                    <div class="col-12">
                        <select id="stid" name="SinisterTypeId" style="width : 100%" onchange="javascript: GetKeywords(this.value)" class="control-label col-12 form-control"></select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ActivitySectorId, "Activity sector", htmlAttributes: new { @class = "control-label col-12" })
                    <div class="col-12">
                        @Html.DropDownListFor(model => model.ActivitySectorId, new SelectList(Model.ListActivitySector, "ActivitySectorId", "Name"), htmlAttributes: new { @class = "form-control", name= "ActivitySectorId" })
                        @*@Html.ValidationMessageFor(model => model.ActivitySectorId, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ListDestructionLevel, "Destruction level", htmlAttributes: new { @class = "control-label col-12" })
                    <div class="col-12">
                        @Html.DropDownListFor(model => model.ListDestructionLevel, new SelectList(Model.ListDestructionLevel, "DestructionLevelId", "Name"), htmlAttributes: new { @class = "form-control", name = "DestructionLevelId" })
                        @*@Html.ValidationMessageFor(model => model.DestructionLevelId, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group">
                        @Html.LabelFor(model => model.Consequence, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.TextAreaFor(model => model.Consequence, new { htmlAttributes = new { @class = "form-control col-lg-12" } })
                            @Html.ValidationMessageFor(model => model.Consequence, "", new { @class = "text-danger" })
                        </div>
                    </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.AggravatingFactor, "Aggravating factor", htmlAttributes: new { @class = "control-label col-12" })
                    <div class="col-12">
                        @Html.TextAreaFor(model => model.AggravatingFactor, new { htmlAttributes = new { @class = "form-control" }, rows = 8 })
                        @Html.ValidationMessageFor(model => model.AggravatingFactor, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrencyId, "Currency", htmlAttributes: new { @class = "control-label col-12" })
                    <div class="col-12">
                        @Html.DropDownListFor(model => model.CurrencyId, new SelectList(Model.ListCurrency, "CurrencyId", "Name"), htmlAttributes: new { @class = "form-control", name= "CurrencyId" })
                        @*@Html.ValidationMessageFor(model => model.CurrencyId, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-12" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", name = "Amount" } })
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FileOrigine, htmlAttributes: new { @class = "control-label col-12" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.FileOrigine, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FileOrigine, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-12" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SinisterKeywords,"Keyword list", htmlAttributes: new { @class = "control-label col-12" })
                    <div class="col-12" id="checkboxList" name="SinisterKeywords"></div>
                </div>

                <div class="form-group align-content-center p-3">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default bg-success text-white" />
                    </div>
                </div>
            </div>
                            }

    </div>
</div>

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
