@model SinisterWebApp.Models.Sinisters

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

    string status = "";
}


<!--JUmbotron-->
<div class="jumbotron backgroundHome">
    <h1 class="otherTitle text-center">D</h1>
</div>


<div class="container pt-3 pb-3 col-lg-12 col-md-12 col-12">
    <h4 class=" pt-2 subTitle">Sinister informations</h4>
    <hr class="hrColor" />
    <div class=" container bg-light col-lg-12 col-md-12 col-12 shadow">
        <dl class="dl-horizontal align-content-center">



            <dt class="pt-4">
                @Html.DisplayNameFor(model => model.SinisterStatus.Name)
            </dt>

            @{
                if (Model.SinisterStatusId != 1)
                {
                    status = "statusWaiting";
                }
                else
                {
                    status = "statusValid";

                }
            }

            <dd class=" @status">
                @Html.DisplayFor(model => model.SinisterStatus.Name, new { style = "color : red;" })
            </dd>

            <hr />

            <dt>
                @Html.DisplayNameFor(model => model.CompleteUserNameForCreate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CompleteUserNameForCreate)
            </dd>
            <hr />

            <dt>
                @Html.DisplayNameFor(model => model.CompleteUserNameForEdit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CompleteUserNameForEdit)
            </dd>
            <hr />

            <dt>
                @Html.DisplayNameFor(model => model.Clients.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Clients.Name)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Sites.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sites.Name)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Countries.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Countries.Name)
            </dd>
            <hr />

            <dt>
                @Html.DisplayNameFor(model => model.LobName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LobName)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.SinisterTypes.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SinisterTypes.Name)
            </dd>
            <hr />

            <dt>
                @Html.DisplayNameFor(model => model.ActivitySectors.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ActivitySectors.Name)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.DestructionLevels.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DestructionLevels.Name)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Consequence)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Consequence)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.AggravatingFactor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AggravatingFactor)
            </dd>

            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Currencies.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Currencies.Name)
            </dd>
            <hr />

            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.FileOrigine)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FileOrigine)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.FileName)
            </dt>

            <dd class="pb-4">
                @Html.DisplayFor(model => model.FileName)
            </dd>







            @*<dt>
            @Html.DisplayNameFor(model => model.KeyWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KeyWord)
        </dd>*@


            @*<dt>
            @Html.DisplayNameFor(model => model.Documents.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documents.Name)
        </dd>*@
        </dl>
    </div>
    </div>

