@model IEnumerable<SinisterWebApp.Models.Sinisters>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoBId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileOrigine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AggravatingFactor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeyWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivitySectors.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clients.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Countries.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currencies.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestructionLevels.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documents.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SinisterStatus.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SinisterTypes.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sites.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.EmployeeID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoBId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consequence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileOrigine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AggravatingFactor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KeyWord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivitySectors.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clients.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Countries.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currencies.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestructionLevels.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Documents.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SinisterStatus.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SinisterTypes.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sites.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.EmployeeID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SinisterId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SinisterId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SinisterId })
        </td>
    </tr>
}

</table>
